doctype html
html(lang="ru")
	head
		title 
			block title
		meta(charset="UTF-8")
		meta(name="keywords", content="Test")
		meta(name="description", content="Test")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

		include ../section/head	
	body
		//header
		include ../section/header
		//main
		main.main
			block content
		//footer
		include ../section/footer
		include ../section/foot
			










